@using ProgramareAC.Services.MPASS


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>


    @{
        string loginType = Session.GetLoginTypeKey();
    }


</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <img src="~/Content/img/logo.png" />
            </div>
            <div class="col-sm-10" style="margin-top:10px;">
                <h4>Casa Naţională de Asigurări Sociale a Republicii Moldova</h4>
                <h2>Programarea online la audienţa la aparatul central al CNAS</h2>
            </div>
        </div>
    </div>

    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            @if (!string.IsNullOrEmpty(loginType))
            {
                <div class="navbar-collapse collapse">

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav" style="margin-left:-30px">

                            <li>
                                <a href="@Url.Action("Appointment", "PriorAppointment")"><b>Programarea prealabilă</b></a>
                            </li>
                            <li>
                                <a href="~/Ghidul utilizatorului.pdf" target="_blank"><b>Ghidul utilizatorului</b></a>
                            </li>

                            <li>
                                <a href="@Url.Action("CheckStatuses", "CheckAppointmentStatus")" target="_blank"><b>Verifica statulul</b></a>
                            </li>

                            <li>
                                <a href="@Url.Action("MPASSLogout", "Authentication")"><b>Logout din MPASS</b></a>
                            </li>
                        </ul>
                    </div>

                </div>
            }

        </div>
    </div>

    <div class="container body-content">
        @RenderBody()

        <hr />
        <footer>
            <div class="container">

                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="row">

                            <div class="col-md-2">
                                <p>CENTRUl DE APEL</p>
                            </div>

                            <div class="col-md-3">
                                <a href="tel:+37322257777" class="contact-tel"><span>022 </span><b>257 777</b></a>
                            </div>
                            <div class="col-sm-3">
                                <span><b>Orele de lucru: Luni-Vineri 8:00-17:00</b></span>
                            </div>
                            <div class="col-md-4 text-right">
                                <span>
                                    ©&nbsp;2023 <a href="http://cnas.md/" target="_blank">Casa Națională de Asigurări Sociale.</a>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <span>secretariat@cnas.gov.md</span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
